# folder view configuration files
.DS_Store

# thumbnail cache files
._*
Thumbs.db

# files that might appear on external disks
.Spotlight-V100
.Trashes

# dumps
dump.rdb

# just in case
node_modules/
.env
