# bi-hourly time check
0,30 * * * * osascript -e "display notification \"`date +\"\%H:\%M\"`\" with title \"🕓\""

# pomodoro
25,55   8-22    *       *       *       osascript -e 'display notification "💤" with title "Break" sound name     "Purr"'
0,30    8-22    *       *       *       osascript -e 'display notification "🔥" with title "Back to work!" sound name "Purr"'

